@model IEnumerable<WebFindTutor_Client.Models.InstructorModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a href="@Url.Action("AddOrEdit","AdminInstructor")" class="btn btn-default"><i class="fa fa-plus"></i>Create New</a>
</p>

<table id="AdminInstructorTable" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Instructor_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructor_FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructor_LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructor_TelNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructor_location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructor_Pic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructor_University)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Faculty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Confirmation)
            </th>
            <th></th>
        </tr>
    </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Instructor_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Instructor_FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Instructor_LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Instructor_TelNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Instructor_location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Instructor_Pic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Instructor_University)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Faculty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Confirmation)
                </td>
                <td>
                    <a href="@Url.Action("AddOrEdit","AdminInstructor",new { id = item.Instructor_ID })" class="btn btn-default"><i class="fa fa-pencil"></i>Edit</a>
                    <a onclick="Delete(@item.Instructor_ID)" class="btn btn-default"><i class="fa fa-trash"></i>Delete</a>
                </td>
            </tr>
        }

</table>
@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]';
            if (successMessage != '')
                alertify.success(successMessage);
        });
        function Delete(id) {
            alertify.confirm('Web Api CRUD Operations', 'Are You Sure to Delete this Record?', function () {
                window.location.href = '@Url.Action("Delete","AdminInstructor")/' + id;
            },null );
        }
        </script>
    }