
@{
    ViewBag.Title = "Index";
}
<br />
    <div class="w3-card-4 center-block" style="width:330px">
        <div class="w3-container w3-blue w3-center">
            <h3>สมัครสมาชิก</h3>
        </div>
        <br/>
        <form class="w3-container form-horizontal" action="/action_page.php">
            <p>
                <label><b>ชื่อ *</b></label>
                <div>
                    @Html.TextBox("Firstname", "", new { @class = "w3-input w3-border", @placeholder = "ชื่อ" })
                </div>
            </p>
            <p>
                <label><b>นามสกุล *</b></label>
                <div>
                    @Html.TextBox("Lastname", "", new { @class = "w3-input w3-border", @placeholder = "นามสกุล" })
                </div>
            </p>
            <p>
                <label><b>Username *</b></label>
                <div>
                    @Html.TextBox("Username", "", new { @class = "w3-input w3-border", @placeholder = "Username" })
                </div>
            </p>

            <p>
                <label><b>Password *</b></label>
                <div>
                    @Html.Password("Password", "", new { @class = "w3-input w3-border", @placeholder = "Password" })
                </div>
            </p>
            <p>
                <label><b>ยืนยัน Password *</b></label>
                <div>
                    @Html.Password("Password-repeat", "", new { @class = "w3-input w3-border", @placeholder = "ยืนยัน Password" })
                </div>
            </p>
            <p>
                <label><b>Email *</b></label>
                <div>
                    @Html.TextBox("Email", "", new { @class = "w3-input w3-border", @placeholder = "Email" })
                </div>
            </p>

            <div class="text-center">
                <label><b>สมัครสมาชิกในฐานะ: *</b></label><br />
                <input type="radio" class="w3-radio" name="status" value="teacher" checked> <label>ครูผู้สอน</label>
                <input type="radio" class="w3-radio" name="status" value="student">  <label>นักเรียน/ผู้ปกครอง</label>
            </div>
            <hr>
            <p>
                <button class="w3-btn w3-green w3-center registerbtn">ยืนยันการสมัครสมาชิก</button>
            </p>
            <div class="w3-container signin">
                <p>มีAccountอยู่แล้ว? <a href="@Url.Action("Index","Login")"><font color="blue">กดเข้าสู่ระบบที่นี่</font> </a></p>
            </div>
        </form>
    </div>