
@{
    ViewBag.Title = "Index";
}
<br />
    @*<div class="panel panel-primary center-block" style="width:370px">
            <div class="panel-heading text-center"><h4>สมัครสมาชิก</h4></div>
            <div class="panel-body">

                <label><b>Username *</b></label>
                <div class="text-center">
                    @Html.TextBox("myTextBox", "", new { @class = "form-control w3-input w3-border w3-round", @placeholder = "Username"})
                    <input id="Username" type="text" class="form-control" name="Username" placeholder="Username" required>
                </div>

                <label><b>Password *</b></label>
                <div class="text-center">
                    <input id="Password" type="password" class="form-control" name="Password" placeholder="Password" required>
                </div>

                <label><b>ยืนยัน Password *</b></label>
                <div class="text-center">
                    <input id="Password-repeat" type="password" class="form-control" name="Password-repeat" placeholder="Password-repeat" required>
                </div>

                <label><b>Email *</b></label>
                <div class="text-center">
                    <input id="email" type="text" class="form-control" name="email" placeholder="Email" required>
                </div>

                <label><b>Username *</b></label>
                <div class="text-center">
                    <input id="email" type="text" class="form-control" name="email" placeholder="Email">
                </div>

            </div>
        </div>*@
    <div class="w3-card-4 center-block" style="width:330px">
        <div class="w3-container w3-blue w3-center">
            <h3>สมัครสมาชิก</h3>
        </div>
        <br/>
        <form class="w3-container form-horizontal" action="/action_page.php">
            <p>
                <label><b>Username *</b></label>
                <div>
                    @Html.TextBox("Username", "", new { @class = "w3-input w3-border", @placeholder = "Username" })
                </div>
            </p>

            <p>
                <label><b>Password *</b></label>
                <div>
                    @Html.Password("Password", "", new { @class = "w3-input w3-border", @placeholder = "Password" })
                </div>
            </p>
            <p>
                <label><b>ยืนยัน Password *</b></label>
                <div>
                    @Html.Password("Password-repeat", "", new { @class = "w3-input w3-border", @placeholder = "ยืนยัน Password" })
                </div>
            </p>
            <p>
                <label><b>Email *</b></label>
                <div>
                    @Html.TextBox("Email", "", new { @class = "w3-input w3-border", @placeholder = "Email" })
                </div>
            </p>

            <div class="text-center">
                <label><b>สมัครสมาชิกในฐานะ: *</b></label><br />
                <input type="radio" class="w3-radio" name="status" value="teacher" checked> <label>ครูผู้สอน</label>
                <input type="radio" class="w3-radio" name="status" value="student">  <label>นักเรียน/ผู้ปกครอง</label>
            </div>
            <hr>
            <p>
                <button class="w3-btn w3-green w3-center registerbtn">ยืนยันการสมัครสมาชิก</button>
            </p>
            <div class="w3-container signin">
                <p>มีAccountอยู่แล้ว? <a href="@Url.Action("Index","Login")"><font color="blue">กดเข้าสู่ระบบที่นี่</font> </a></p>
            </div>
        </form>
    </div>