@model IEnumerable<WebFindTutor_Client.Models.GeographiesModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<script>
    $(document).ready(function () {
        $('#GeographyTable').DataTable({
            "pagingType": "full_numbers",
            "scrollX": true,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]
        });
    });
</script>

<table id="GeographyTable" class="table table-striped table-bordered" style="width:100%">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GEO_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GEO_NAME)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GEO_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GEO_NAME)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
